aioredis==2.0.1
alembic==1.8.1
asyncpg==0.26.0
celery==5.2.7
fastapi==0.85.0
httpx==0.23.0
requests==2.28.1
SQLAlchemy==1.4.41
sqlmodel==0.0.8
xmltodict==0.13.0
uvicorn==0.18.3
python-dotenv==0.21.0
redis==4.3.4
